.addition-block {
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-top: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
    width: 62%;
    margin-bottom: 86px;
  }
}

.addition {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);

  @media (min-width: $tablet-width) {
    border-top: none;
    padding-right: 38px;
    padding-left: 38px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }
}

.addition__parameters {
  @media (max-width: 760px) {
    width: 100%;
    margin-top: 13px;
  }

  @media (min-width: $tablet-width) and (max-width: 1400px) {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 30px;
    right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: 40px;
  }
}

.addition__parameters tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.addition__parameters td {
  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }
}

.addition__heading {
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.addition__btn {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 27.7px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 244px;
  }
}

.addition-block__heading {
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 81px;
  }
}

.addition__list {
  @media (min-width: $tablet-width) {
    border: 1px solid var(--border-color);
  }

  @media (min-width: $desktop-width) {
    width: 62%;
    border-left: none;
    border-right: none;
  }
}

.add-present-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}
