.contacts__phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
}

.contacts__mail {
  background-image: url("../img/icon-email.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;

  @media (min-width: $desktop-width) {
    margin-right: 78px;
  }
}
