.dev-icon__path {
  height: 34px;
}

.dev-icon:hover .dev-icon__path,
.dev-icon:focus .dev-icon__path {
  fill: var(--green);
}

.dev-icon:active .dev-icon__path {
  opacity: 0.3;
}

.developers__logo-name {
  color: var(--darkgrey);

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.developers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
  padding-bottom: 22px;
}
