.example {
  background-color: var(--dark-background);
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    background-color: var(--dark-background);
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    position: relative;
    top: -76px;
    margin-bottom: -76px;
  }

  @media (max-width: $pre-tablet) {
    width: 280px;
    margin: 0 auto;
  }
}

.example__data {
  text-align: center;
  border: 1.3px solid var(--border-color);
  border-radius: 3px;
  width: 124px;
  padding-top: 15px;
  height: 57px;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    margin-right: 42px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.data-wrapper {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  padding-bottom: 25px;

  @media (min-width: $desktop-width) {
    width: 100%;
    min-width: 366px;
  }
}

.remark-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    width: 100%;
    display: block;
  }
}

.example__parameter {
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;
}

.example__paragraph {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  background-repeat: no-repeat;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 140px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  background-color: var(--dark-background);
  width: 86px;
  display: block;
  padding-right: 16px;
  padding-left: 16px;
  text-align: center;
  margin: auto;
  padding-top: 7px;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    background-color: var(--white);
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__expense {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 20px;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;

  @media (max-width: 767px) {
    padding-left: 20%;
  }

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 20px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    padding-bottom: 75px;

    br {
      display: none;
    }
  }
}

.example-wrapper {
  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    width: 708px;
    margin: 0 auto;
  }
}
