.example {
  background-color: var(--background);
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding-top: 43px;
  }
}

.example-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.example__data {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.data-wrapper {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.remark-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
  }
}

.example__parameter {
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
}

.example__paragraph {
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    br {
      display: none;
    }
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__expense {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 20px;
  }

  @media (max-width: 767px) and (min-width: $desktop-width) {
   br {
    display: none;
   }
  }
}
