.example {
  background-color: var(--background);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 27px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    background-color: var(--white);
    border-top: 1px solid var(--border-color);
    padding-top: 43px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.example__data {
  text-align: center;
}

.data-wrapper {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.example__parameter {
  font-size: 24px;
  line-height: 24px;
  color: var(--black);
}

.example__paragraph {
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
}

.example__expense {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
}

.results__switcher span {
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  color: var(--black);
}
