.field__input::placeholder {
  @include label-style;
}

.field {
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.field__input {
  height: 45px;
  flex-grow: 1;
  margin-left: 7px;
  line-height: 45px;
}
