.footer__logo {
  display: flex;
  justify-content: center;
  margin-top: 39px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 0;
  }
}

.footer-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: var(--background);
}
