.footer {
  background-color: var(--background);
}

.location__address {
  font-size: 14px;
  line-height: 20px;
}


.dev-icon__path {
  height: 34px;
}

.dev-icon:hover .dev-icon__path,
.dev-icon:focus .dev-icon__path {
  fill: var(--green);
}

.dev-icon:active .dev-icon__path {
  opacity: 0.3;
}

.location__heading {
  line-height: 18px;
  text-transform: uppercase;
}
