.form__note {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 26px;
  }
}

.form__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 226px;
  margin-bottom: 39px;
  margin-top: 37px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 325px;
  }
}

.form__heading {
  @media (max-width: $pre-tablet) {
    border-top: 1px solid var(--border-color);
    padding-top: 27px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    width: 708px;
    margin: 0 auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__btn {
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 56px;
    font-size: 20px;
    margin-right: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 81px;
    width: 568px;
  }
}

.form__add-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.form input {
  border: 1px solid var(--border-color);
}

.form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.form__data-wr {
  @media (min-width: $desktop-width) {
    display: flex;
    min-height: 200px;
    align-items: stretch;
    justify-content: space-between;
  }
}
