.header-wrapper {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 16px;

  @media (max-width: $pre-tablet) {
    justify-content: space-between;

    @include container;
  }

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    width: auto;
    max-width: 200px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
  }
}

.header__btn {
  border: none;
  height: 18px;
  width: 24px;
  margin: 0;
  background-color: transparent;
  background-image: url("../img/header-btn.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__btn:active,
.header__btn--close:active {
  outline: none;
}

.header__btn--close {
  border: none;
  margin: 0;
  background-color: transparent;
  height: 20px;
  width: 20px;
  background-image: url("../img/header-btn-close.svg");

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header__container {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $after-tablet) {
    width: 960px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}
