.intro {
  height: 480px;
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 62px;
    background-image: url(""), url("");
  }
}

.intro__bg {
  @media (max-width: $pre-tablet) {
    background-image: url("../img/indexcan.png");
    background-repeat: no-repeat;
    height: 270px;
    width: 280px;
  }
}

@media (max-width: $pre-tablet) {
  .intro__wrapper {
    background-image: url("../img/index-bg-mobile.jpg");
    background-size: cover;
    z-index: 0;
    height: 305px;
  }
}

.intro__container {
  position: relative;
  height: 100%;

  @media (max-width: $pre-tablet) {
    padding-top: 27px;
    min-height: 480px;
  }
}

.intro__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: var(--black);
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-top: 41px;
    margin-left: 118px;
    text-align: left;
  }
}

.intro__btn {
  width: 244px;
  line-height: 54px;
  font-size: 20px;
  margin-top: 49px;
  margin-left: 112px;

  @media (max-width: $pre-tablet) {
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 40px;
    font-size: 14px;
    margin-left: 0;
  }
}
