.intro {
  background-image: url("../img/index-bg-mobile.jpg"), url("../img/indexcan.png");
  background-repeat: no-repeat;
  background-position: 0 0, 50% 40%;
  height: 480px;
}

.intro__paragraph {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: var(--white);
}
