.main-nav__item a {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black);
  padding-bottom: 8px;
}

.main-nav {
  order: 1;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 84px;
    position: absolute;
    right: 0;
  }
}

.main-nav__list {
  @media (max-width: $tablet-width) {
    width: 100%;
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

@media (max-width: $pre-tablet) {
  .main-nav--hidden {
    display: none;
  }
}

.nav__item--current a {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid var(--green);
  }
}

.main-nav__item {
  @media (max-width: $pre-tablet) {
    padding-top: 22px;
    padding-bottom: 24px;
    text-align: center;
    border-top: 1px solid var(--border-color);
  }

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-nav__item:last-child {
  @media (min-width: $tablet-width) {
    padding-left: 14px;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list--white a {
    color: var(--white);
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list--white .nav__item--current {
    border-bottom: 2px solid var(--white);
  }
}
