.present {
  background-image: url("../img/gift-bg.jpg");
  background-size: cover;
  height: 290px;
  background-repeat: no-repeat;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 69px;
    margin-bottom: 76px;
    padding-left: 80px;
    height: 200px;
    background-image: url("../img/gift-bg-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 20%;
    position: absolute;
    background-image: url("../img/gift-bg-desktop.jpg");
    margin: 0;
    top: 0;
    right: 0;
    margin-top: 117px;
    height: 290px;
    padding-left: 0;
  }
}

.present__paragraph {
  line-height: 20px;
  color: var(--white);
  text-align: center;
  padding-top: 186px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    text-align: left;
    padding-left: 48.4%;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
    padding-top: 184px;
  }
}

.present__paragraph::before {
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  height: 68px;
  width: 68px;
  position: absolute;
  top: 65px;
  left: 36%;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    left: 13%;
    top: 45%;
  }

  @media (min-width: $desktop-width) {
    top: 56px;
    left: 35%;
  }
}
