.products__list {
  display: grid;
}

.product {
  width: 100%;
  border-bottom: 1px solid var(--grey);
  padding-top: 19px;
  padding-bottom: 25px;
}

.product__btn {
  width: 100%;
}

.product__name {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--special-black);
}
