.programme-choice::before,
.programme-choice::after {
  @media (max-width: $pre-tablet) {
    content: "";
    background-color: var(--border-color);
    width: 100vw;
    height: 1px;
    left: 0;
    right: 0;
    position: absolute;
  }
}

.programme-choice {
    margin-top: 24px;
}
