:root {
	--blackground: #F2F2F2;
	--grey: #EBEBEB;
	--green: #68B738;
	--white: #FFFFFF;
	--darkgrey: #444444;
	--new-black: #111111;
	--bright-green: #5EAA2F;
}
body{
	margin: 0;
	font-family: Arial, sans-serif;
}
*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a{
	text-decoration: none;
	color: var(--black);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.heading{
	font-family: Oswald, Arial, sans-serif;
}
.heading--h1{
	font-size: 36px;
	line-height: 36px;
}
.heading--h2 {
	font-size: 36px;
	line-height: 40px;
}
.heading--index{
	color: var(--white);
}
.heading--h3{
	font-size: 24px;
	line-height: 37px;
	text-transform: uppercase;
}
.heading--h4{
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}
.table{
	font-size: 12px;
	line-height: 16px;
	color: var(--darkgrey);
}
.list{
	list-style: none;
	margin: 0;
}
.button--green{
	background-color: var(--green);
	color: var(--white);
}
.button{
	font-family: Oswald, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	border: none;
}