.footer{
	background-color: var(--blackground);
}
.location__address{
	font-size: 14px;
	line-height: 20px;
	color: var(--darkgrey);
}
.developers__logo-name{
	color: var(--darkgrey);
}
.location__heading{
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}
.networks__link{
	background-repeat: no-repeat;
}
.networks__link--vk{
	background-image: url(../img/icon-vk.svg);
	height: 16px;
	width: 23px;
}
.networks__link--fb{
	background-image: url(../img/icon-fb.svg);
	height: 22px;
	width: 22px;
}
.networks__link--ig{
	background-image: url(../img/icon-ig.svg);
	height: 16px;
	width: 16px;
}