.footer{
	background-color: var(--blackground);
}

.networks__link{
	background-repeat: no-repeat;
}
.networks__link--vk{
	background-image: url(../img/icon-vk.svg);
	height: 16px;
	width: 23px;
}
.networks__link--fb{
	background-image: url(../img/icon-fb.svg);
	height: 22px;
	width: 22px;
}
.networks__link--ig{
	background-image: url(../img/icon-ig.svg);
	height: 16px;
	width: 16px;
}