.footer {
  background-color: var(--background);
}

.location__address {
  font-size: 14px;
  line-height: 20px;
  color: var(--darkgrey);
}

.developers__logo-name {
  color: var(--darkgrey);
}

.developers__logo-img {
  &:hover,
  &:focus + .developers__logo-img img {
    background-color: var(--green);
  }

  &:active {
    opacity: 0.3;
  }
}

.location__heading {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
