.working__description,
.example__paragraph{
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 18px;
    color: var(--darkgrey);
}
.working__description--consist{
    background-image: url('../img/working-1.png');
}
.working__description--use{
    background-image: url('../img/working-2.png');
}
.working__description--reccomendation{
    background-image: url('../img/working-3.png');
}
.working__description--results{
    background-image: url('../img/working-4.png');
}