.programme{
    background-color: var(--background);
}
.programme__paragraph{
    font-size: 14px;
    line-height: 18px;
    color:var(--darkgrey);
}
.programme__link{
    font-family: Oswald, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
}
