.heading--gm,
.heading--lw{
	background-repeat: no-repeat;
}
.heading--lw{
	background-image: url('../img/lose-weight.png');
}
.heading--gm{
	background-image: url('../img/gain-weight.png');
}
.programme{
	background-color: var(--background)
}
.programme__paragraph{
	font-size: 14px;
	line-height: 18px;
	color:var(--darkgrey);
}
.programme__link{
	font-family: Oswald, Arial, sans-serif;
	font-size: 16px;
	line-height: 16px;
}
.introduction{
	background-image: url('../img/indexbg.png'), url('../img/indexcan.png');
	background-repeat: no-repeat;
	background-position:  , ;
	height: 480px;
}
.working__description,
.example__paragraph{
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 18px;
	color: var(--darkgrey);
}
.working__description--consist{
	background-image: url('../img/working-1.png');
}
.working__description--use{
	background-image: url('../img/working-2.png');
}
.working__description--reccomendation{
	background-image: url('../img/working-3.png');
}
.working__description--results{
	background-image: url('../img/working-4.png');
}
