:root {
	--blackground: #F2F2F2;
	--grey: #EBEBEB;
	--green: #68B738;
	--white: #FFFFFF;
	--darkgrey: #444444;
	--black: ;
}
body{
	margin: 0;
	font-family: Arial, sans-serif;
}
*, 
*::before, 
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.header{

}
.footer{
	background-color: var(--blackground);
}
.heading{
	font-family: Oswald, Arial, sans-serif;
}
.heading--h1{
	font-size: 36px;
	line-height: 36px;
}
.heading--index{
	color: var(--white);
}
.heading--h3{
	font-size: 24px;
	line-height: 24px;
}
.heading--h4{
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
}
.btn-order{
	background-color: var(--green);
	color: var(--white);
}
.product__name{
	font-family: Oswald, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.table{
	font-size: 12px;
	line-height: 16px;
	color: var(--darkgrey);
}
.button{
	font-family: Oswald, Arial, sans-serif;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
}
.more-items__btn{
	background-color: var(--blackground);
	color: var(--darkgrey);
}
.more-items__paragraph{
	font-family: Oswald, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.present{
	background-image: url(source/img/morebg.png);
}
.present__paragraph{
	background-image: url(source/img/icon-gift.png);
	font-size: 16px;
	line-height: 20px;
	color: var(--white);
}
































