:root {
  --background: #f2f2f2;
  --grey: #ebebeb;
  --green: #68b738;
  --white: #ffffff;
  --darkgrey: #444444;
  --new-black: #111111;
  --bright-green: #5eaa2f;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

.nav__list--hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.table {
  font-size: 12px;
  line-height: 16px;
  color: var(--darkgrey);
}
