.catalog-main,
.index-main {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;

    @media(min-width: $tablet-width) {
        width: $tablet-width;
    }

    @media(min-width: $desktop-width) {
        width: $desktop-width;
    }
}
