.heading {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;

  &--h1 {
    font-size: 36px;
    line-height: 36px;
  }

  &--h2 {
    font-size: 36px;
    line-height: 40px;
  }

  &--index {
    color: var(--white);
  }

  &--h3 {
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
  }

  &--h4 {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &--location {
    text-transform: uppercase;
  }

  &--gm,
  &--lw {
    background-repeat: no-repeat;
  }

  &--lw {
    background-image: url("../img/lose-weight.png");
  }

  &--gm {
    background-image: url("../img/gain-weight.png");
  }
}

.catalog__heading {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  padding-top: 27px;
  padding-bottom: 41px;
  text-align: center;
}
